root, html, body {
  width: 100%;
  min-height: -webkit-fill-available;
}

.monthHeader {
  background-color: aqua !important;
  font-weight: bold;
}

.react-calendar-timeline {
  touch-action: pan-y;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.rct-calendar-header {
  border-color: hsl(var(--border)) !important;
}

.react-calendar-timeline {
  border-color: hsl(var(--border)) !important;
}

.react-calendar-timeline .rct-header-root {
  color: hsl(var(--border)) !important;
}

.rct-sidebar-row {
}

.rct-sidebar {
  border-color: hsl(var(--border)) !important;
  color: hsl(var(--border)) !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  border-color: hsl(var(--border)) !important;
}

.rct-vl {
  border-color: hsl(var(--border)) !important;
}

.rct-vl.rct-day-6,
.rct-vl.rct-day-0 {
  background-color: transparent !important;
}

.rct-scroll{
  border-color: hsl(var(--border)) !important;
  background-color: transparent !important;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even, .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-color: hsl(var(--border)) !important;
}

.react-calendar-timeline .rct-item .rct-item-content {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  overflow: hidden !important;
  display: inline-block;
  border-radius: 2px;
  padding: 0 6px;
  height: 100%;
}

.custom-item-content {
  white-space: nowrap;
  padding-left: 0.5rem;
  display: inline-block;
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  overflow: hidden;
  height: 100%;
}

.animate-text {
  display: inline-block;
  animation: textScroll 10s linear infinite;
  position: relative;
  transform: translateX(100%);
}


@keyframes textScroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
