root, html, body {
  width: 100%;
  min-height: -webkit-fill-available;
}

.monthHeader {
  background-color: aqua !important;
  font-weight: bold;
}

.rct-vl.rct-day-6,
.rct-vl.rct-day-0 {
  background-color: transparent !important;
}

.rct-item {
  z-index: 30 !important;
  overflow-x: hidden;
}

.custom-item-content {
  white-space: nowrap;
  position: relative;
  display: inline-block;
  padding-left: 0.5rem;
  width: 100%;
}

.animate-text {
  display: inline-block;
  animation: textScroll 10s linear infinite;
  position: relative;
  transform: translateX(100%);
}


@keyframes textScroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}